{% extends "registration/base.html" %}

{% block content %}

    <table class="table borderless">
        <tbody>
        <tr>
            <th scope="row">ユーザーID</th>
            <td>{{ user.user_id }}</td>
        </tr>
        <tr>
            <th scope="row">氏名</th>
            <td>{{ user.full_name }}</td>
        </tr>
        <tr>
            <th scope="row">所属バンド</th>
            <td>
            {% for band in user.band.all %}
                {{ band.uuid }}</br>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row">投票バンド</th>
            <td>
            {% for band in band_name %}
                {{ band }}</br>
            {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}