{% extends "base.html" %}

{% block body %}
<div class="container">
    {% if duplicate_error %}
        <p style="color: coral;">{{duplicate_error}}</p>
    {% endif %}
    {% if no_vote_error %}
        <p style="color: coral;">{{no_vote_error}}</p>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
        <div class="form-group">
            {% for i in first_grade_band_num  %}
                <select id="band" class="form-control" name=band{{i}} style="margin-top: 10px; margin-bottom: 10px; background-color: rgb(216, 214, 214);">
                    <option>{{i}}バンド目</option>
                    {% for band in first_grade_band %}
                        <option value={{band.uuid}}>{{band.name}}</option> -->
                    {% endfor %}
                </select>
            {% endfor %}
            {% for i in band_num  %}
                <select id="band" class="form-control" name=band{{i}} style="margin-top: 10px; margin-bottom: 10px;">
                    <option>{{i}}バンド目</option>
                    {% for band in all_band %}
                        <option value={{band.uuid}}>{{band.name}}</option> -->
                    {% endfor %}
                </select>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary btn-block" value="Vote">投票する</button>
    </form>
  </div>
{% endblock %}